.loading-container, .payment-success-animation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.loading-container ion-spinner {
  width: 50px;
  height: 50px;
}

.payment-success-animation ion-icon {
  font-size: 100px;
}
